html {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: rgba(248, 248, 248, 1);
}

body {
  margin: 0;
  color: rgba(248, 248, 248, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

input {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(248, 248, 248, 1);
  border: 1px solid rgba(248, 248, 248, 1);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.input-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: calc(100% - 2.8rem);
  margin: 0.6rem 0 0;
  padding: 0.4rem 0.6rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgba(28, 28, 28, 0.8);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.input-box svg {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.6rem 0.2rem 0.6rem 0.4rem;
  fill: rgba(248, 248, 248, 0.6);
}

.input-box input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1.4rem;
}

#app {
  height: 100vh;
  text-align: center;
}
